<a href="https://colab.research.google.com/github/Facco-Bruno/Alura-Python/blob/Master/Treatment_and_Analysis_with_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [52]:
dados = pd.read_csv('aluguel.csv', sep=';')

In [4]:
dados.head(5)

                      Tipo           Bairro  ...  Condominio    IPTU
0                Quitinete       Copacabana  ...       500.0    60.0
1                     Casa  Jardim Botânico  ...         NaN     NaN
2  Conjunto Comercial/Sala  Barra da Tijuca  ...      4020.0  1111.0
3              Apartamento           Centro  ...       390.0    20.0
4              Apartamento     Higienópolis  ...       230.0     NaN

[5 rows x 9 columns]

In [5]:
dados.info

<bound method DataFrame.info of                           Tipo                Bairro  ...  Condominio    IPTU
0                    Quitinete            Copacabana  ...       500.0    60.0
1                         Casa       Jardim Botânico  ...         NaN     NaN
2      Conjunto Comercial/Sala       Barra da Tijuca  ...      4020.0  1111.0
3                  Apartamento                Centro  ...       390.0    20.0
4                  Apartamento          Higienópolis  ...       230.0     NaN
...                        ...                   ...  ...         ...     ...
32955                Quitinete                Centro  ...       350.0    25.0
32956              Apartamento           Jacarepaguá  ...       800.0    40.0
32957              Apartamento  São Francisco Xavier  ...       509.0    37.0
32958              Apartamento                Leblon  ...       760.0     NaN
32959  Conjunto Comercial/Sala                Centro  ...      4206.0  1109.0

[32960 rows x 9 columns]>

In [6]:
dados.describe()

            Quartos         Vagas  ...    Condominio          IPTU
count  32960.000000  32960.000000  ...  2.886700e+04  2.272300e+04
mean       1.771390      1.749059  ...  2.388062e+03  2.364410e+03
std        1.717869     20.380402  ...  3.918496e+04  1.795641e+05
min        0.000000      0.000000  ...  1.000000e+00  1.000000e+00
25%        0.000000      0.000000  ...  5.900000e+02  1.100000e+02
50%        2.000000      1.000000  ...  9.900000e+02  2.500000e+02
75%        3.000000      2.000000  ...  1.800000e+03  6.970000e+02
max      100.000000   1966.000000  ...  6.552570e+06  2.705307e+07

[8 rows x 7 columns]

In [8]:
pd.DataFrame(dados.dtypes)

                  0
Tipo         object
Bairro       object
Quartos       int64
Vagas         int64
Suites        int64
Area          int64
Valor       float64
Condominio  float64
IPTU        float64

In [9]:
print('A base de dados apresenta {} registros (imóveis) e {} variáveis'.format(dados.shape[0], dados.shape[1]))

A base de dados apresenta 32960 registros (imóveis) e 9 variáveis

In [11]:
json = open('aluguel.json')
print(json.read())

[{"Tipo":"Quitinete","Bairro":"Copacabana","Quartos":1,"Vagas":0,"Suites":0,"Area":40,"Valor":1700.0,"Condominio":500.0,"IPTU":60.0},
{"Tipo":"Casa","Bairro":"Jardim Bot\u00e2nico","Quartos":2,"Vagas":0,"Suites":1,"Area":100,"Valor":7000.0,"Condominio":null,"IPTU":null},
{"Tipo":"Conjunto Comercial\/Sala","Bairro":"Barra da Tijuca","Quartos":0,"Vagas":4,"Suites":0,"Area":150,"Valor":5200.0,"Condominio":4020.0,"IPTU":1111.0},
{"Tipo":"Apartamento","Bairro":"Centro","Quartos":1,"Vagas":0,"Suites":0,"Area":15,"Valor":800.0,"Condominio":390.0,"IPTU":20.0},
{"Tipo":"Apartamento","Bairro":"Higien\u00f3polis","Quartos":1,"Vagas":0,"Suites":0,"Area":48,"Valor":800.0,"Condominio":230.0,"IPTU":null},
{"Tipo":"Apartamento","Bairro":"Vista Alegre","Quartos":3,"Vagas":1,"Suites":0,"Area":70,"Valor":1200.0,"Condominio":null,"IPTU":null},
{"Tipo":"Apartamento","Bairro":"Cachambi","Quartos":2,"Vagas":0,"Suites":0,"Area":50,"Valor":1300.0,"Condominio":301.0,"IPTU":17.0},
{"Tipo":"Casa de Condom\u00ednio","Bairro":"Barra da Tijuca","Quartos":5,"Vagas":4,"Suites":5,"Area":750,"Valor":22000.0,"Condominio":null,"IPTU":null},
{"Tipo":"Casa de Condom\u00ednio","Bairro":"Ramos","Quartos":2,"Vagas":2,"Suites":0,"Area":65,"Valor":1000.0,"Condominio":null,"IPTU":null},
{"Tipo":"Conjunto Comercial\/Sala","Bairro":"Centro","Quartos":0,"Vagas":3,"Suites":0,"Area":695,"Valor":35000.0,"Condominio":19193.0,"IPTU":3030.0}]

In [13]:
df_json = pd.read_json('aluguel.json')
df_json

                      Tipo           Bairro  Quartos  ...  Valor  Condominio    IPTU
0                Quitinete       Copacabana        1  ...   1700       500.0    60.0
1                     Casa  Jardim Botânico        2  ...   7000         NaN     NaN
2  Conjunto Comercial/Sala  Barra da Tijuca        0  ...   5200      4020.0  1111.0
3              Apartamento           Centro        1  ...    800       390.0    20.0
4              Apartamento     Higienópolis        1  ...    800       230.0     NaN
5              Apartamento     Vista Alegre        3  ...   1200         NaN     NaN
6              Apartamento         Cachambi        2  ...   1300       301.0    17.0
7       Casa de Condomínio  Barra da Tijuca        5  ...  22000         NaN     NaN
8       Casa de Condomínio            Ramos        2  ...   1000         NaN     NaN
9  Conjunto Comercial/Sala           Centro        0  ...  35000     19193.0  3030.0

[10 rows x 9 columns]

In [14]:
tipo_de_imovel = dados['Tipo']

In [15]:
tipo_de_imovel

0                      Quitinete
1                           Casa
2        Conjunto Comercial/Sala
3                    Apartamento
4                    Apartamento
                  ...
32955                  Quitinete
32956                Apartamento
32957                Apartamento
32958                Apartamento
32959    Conjunto Comercial/Sala
Name: Tipo, Length: 32960, dtype: object

In [16]:
tipo_de_imovel.drop_duplicates()

0                          Quitinete
1                               Casa
2            Conjunto Comercial/Sala
3                        Apartamento
7                 Casa de Condomínio
16                    Prédio Inteiro
17                              Flat
29                        Loja/Salão
80           Galpão/Depósito/Armazém
83                    Casa Comercial
117                     Casa de Vila
159                   Terreno Padrão
207                      Box/Garagem
347                             Loft
589      Loja Shopping/ Ct Comercial
2157                         Chácara
3354           Loteamento/Condomínio
4379                           Sítio
4721                   Pousada/Chalé
6983                          Studio
9687                           Hotel
23614                      Indústria
Name: Tipo, dtype: object

In [17]:
tipo_de_imovel.drop_duplicates(inplace = True)

In [18]:
tipo_de_imovel

0                          Quitinete
1                               Casa
2            Conjunto Comercial/Sala
3                        Apartamento
7                 Casa de Condomínio
16                    Prédio Inteiro
17                              Flat
29                        Loja/Salão
80           Galpão/Depósito/Armazém
83                    Casa Comercial
117                     Casa de Vila
159                   Terreno Padrão
207                      Box/Garagem
347                             Loft
589      Loja Shopping/ Ct Comercial
2157                         Chácara
3354           Loteamento/Condomínio
4379                           Sítio
4721                   Pousada/Chalé
6983                          Studio
9687                           Hotel
23614                      Indústria
Name: Tipo, dtype: object

In [19]:
tipo_de_imovel = pd.DataFrame(tipo_de_imovel)

In [20]:
tipo_de_imovel

                              Tipo
0                        Quitinete
1                             Casa
2          Conjunto Comercial/Sala
3                      Apartamento
7               Casa de Condomínio
16                  Prédio Inteiro
17                            Flat
29                      Loja/Salão
80         Galpão/Depósito/Armazém
83                  Casa Comercial
117                   Casa de Vila
159                 Terreno Padrão
207                    Box/Garagem
347                           Loft
589    Loja Shopping/ Ct Comercial
2157                       Chácara
3354         Loteamento/Condomínio
4379                         Sítio
4721                 Pousada/Chalé
6983                        Studio
9687                         Hotel
23614                    Indústria

In [21]:
tipo_de_imovel.index = range(tipo_de_imovel.shape[0])

In [22]:
tipo_de_imovel

                           Tipo
0                     Quitinete
1                          Casa
2       Conjunto Comercial/Sala
3                   Apartamento
4            Casa de Condomínio
5                Prédio Inteiro
6                          Flat
7                    Loja/Salão
8       Galpão/Depósito/Armazém
9                Casa Comercial
10                 Casa de Vila
11               Terreno Padrão
12                  Box/Garagem
13                         Loft
14  Loja Shopping/ Ct Comercial
15                      Chácara
16        Loteamento/Condomínio
17                        Sítio
18                Pousada/Chalé
19                       Studio
20                        Hotel
21                    Indústria

In [23]:
tipo_de_imovel.columns.name = 'id'
tipo_de_imovel

id                         Tipo
0                     Quitinete
1                          Casa
2       Conjunto Comercial/Sala
3                   Apartamento
4            Casa de Condomínio
5                Prédio Inteiro
6                          Flat
7                    Loja/Salão
8       Galpão/Depósito/Armazém
9                Casa Comercial
10                 Casa de Vila
11               Terreno Padrão
12                  Box/Garagem
13                         Loft
14  Loja Shopping/ Ct Comercial
15                      Chácara
16        Loteamento/Condomínio
17                        Sítio
18                Pousada/Chalé
19                       Studio
20                        Hotel
21                    Indústria

In [24]:
data = [[1, 2, 3], 
        [4, 5, 6], 
        [7, 8, 9]]

In [25]:
index = ['Linha' + str(i) for i in range(3)]

In [26]:
columns = ['Coluna' + str(i) for i in range(3)]

In [39]:
df2 = pd.DataFrame(data = data, index = index, columns = columns)
df2

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9

In [34]:
df3 = df2
df3

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9

In [35]:
df3[df3 > 0] = 'A'
df3

       Coluna0 Coluna1 Coluna2
Linha0       A       A       A
Linha1       A       A       A
Linha2       A       A       A

In [40]:
df4 = df2

In [42]:
df4[df4 > 0] = 'B'
df4

       Coluna0 Coluna1 Coluna2
Linha0       B       B       B
Linha1       B       B       B
Linha2       B       B       B

In [43]:
df5 = pd.concat([df2, df3, df4])
df5

       Coluna0 Coluna1 Coluna2
Linha0       B       B       B
Linha1       B       B       B
Linha2       B       B       B
Linha0       A       A       A
Linha1       A       A       A
Linha2       A       A       A
Linha0       B       B       B
Linha1       B       B       B
Linha2       B       B       B

In [45]:
df4 = pd.concat([df2, df3, df4], axis = 1)
df4

       Coluna0 Coluna1 Coluna2 Coluna0 Coluna1 Coluna2 Coluna0 Coluna1 Coluna2
Linha0       B       B       B       A       A       A       B       B       B
Linha1       B       B       B       A       A       A       B       B       B
Linha2       B       B       B       A       A       A       B       B       B

In [46]:
df1 = pd.DataFrame({'A': {'X': 1}, 'B': {'X': 2}})
df2 = pd.DataFrame({'C': {'X': 3}, 'D': {'X': 4}})
pd.concat([df1, df2])

     A    B    C    D
X  1.0  2.0  NaN  NaN
X  NaN  NaN  3.0  4.0

In [47]:
dados = [('A', 'B'), ('C', 'D')]
df = pd.DataFrame(dados, columns = ['L1', 'L2'],  index = ['C1', 'C2'])
df

   L1 L2
C1  A  B
C2  C  D

In [49]:
dados = [[1, 2, 3], [4, 5, 6]]
index = 'X,Y'.split(',')
columns = list('CBA')[::-1]
df = pd.DataFrame(dados, index, columns)
df

   A  B  C
X  1  2  3
Y  4  5  6

In [50]:
dados = {'A': {'X': 1, 'Y': 3}, 'B': {'X': 2, 'Y': 4}}
df = pd.DataFrame(dados)
df

   A  B
X  1  2
Y  3  4

In [53]:
dados.head(10)

                      Tipo           Bairro  ...  Condominio    IPTU
0                Quitinete       Copacabana  ...       500.0    60.0
1                     Casa  Jardim Botânico  ...         NaN     NaN
2  Conjunto Comercial/Sala  Barra da Tijuca  ...      4020.0  1111.0
3              Apartamento           Centro  ...       390.0    20.0
4              Apartamento     Higienópolis  ...       230.0     NaN
5              Apartamento     Vista Alegre  ...         NaN     NaN
6              Apartamento         Cachambi  ...       301.0    17.0
7       Casa de Condomínio  Barra da Tijuca  ...         NaN     NaN
8       Casa de Condomínio            Ramos  ...         NaN     NaN
9  Conjunto Comercial/Sala           Centro  ...     19193.0  3030.0

[10 rows x 9 columns]

In [54]:
list(dados['Tipo'].drop_duplicates())

['Quitinete',
 'Casa',
 'Conjunto Comercial/Sala',
 'Apartamento',
 'Casa de Condomínio',
 'Prédio Inteiro',
 'Flat',
 'Loja/Salão',
 'Galpão/Depósito/Armazém',
 'Casa Comercial',
 'Casa de Vila',
 'Terreno Padrão',
 'Box/Garagem',
 'Loft',
 'Loja Shopping/ Ct Comercial',
 'Chácara',
 'Loteamento/Condomínio',
 'Sítio',
 'Pousada/Chalé',
 'Studio',
 'Hotel',
 'Indústria']

In [55]:
residencial = ['Quitinete', 
'Casa',
'Apartamento',
'Casa de Condomínio',
'Casa de Vila']

In [56]:
dados['Tipo'].isin(residencial).head(10)

0     True
1     True
2    False
3     True
4     True
5     True
6     True
7     True
8     True
9    False
Name: Tipo, dtype: bool

In [57]:
selecao = dados['Tipo'].isin(residencial)

In [59]:
dados_residencial = dados[selecao]
dados_residencial

              Tipo                Bairro  Quartos  ...   Valor  Condominio  IPTU
0        Quitinete            Copacabana        1  ...  1700.0       500.0  60.0
1             Casa       Jardim Botânico        2  ...  7000.0         NaN   NaN
3      Apartamento                Centro        1  ...   800.0       390.0  20.0
4      Apartamento          Higienópolis        1  ...   800.0       230.0   NaN
5      Apartamento          Vista Alegre        3  ...  1200.0         NaN   NaN
...            ...                   ...      ...  ...     ...         ...   ...
32953  Apartamento                 Méier        2  ...   900.0       490.0  48.0
32955    Quitinete                Centro        0  ...   800.0       350.0  25.0
32956  Apartamento           Jacarepaguá        3  ...  1800.0       800.0  40.0
32957  Apartamento  São Francisco Xavier        2  ...  1400.0       509.0  37.0
32958  Apartamento                Leblon        2  ...  3000.0       760.0   NaN

[22580 rows x 9 columns]

In [60]:
list(dados_residencial['Tipo'].drop_duplicates())

['Quitinete', 'Casa', 'Apartamento', 'Casa de Condomínio', 'Casa de Vila']

In [61]:
dados_residencial.shape[0]

22580

In [62]:
dados_residencial.index = range(dados_residencial.shape[0])

In [63]:
dados_residencial

              Tipo                Bairro  Quartos  ...   Valor  Condominio  IPTU
0        Quitinete            Copacabana        1  ...  1700.0       500.0  60.0
1             Casa       Jardim Botânico        2  ...  7000.0         NaN   NaN
2      Apartamento                Centro        1  ...   800.0       390.0  20.0
3      Apartamento          Higienópolis        1  ...   800.0       230.0   NaN
4      Apartamento          Vista Alegre        3  ...  1200.0         NaN   NaN
...            ...                   ...      ...  ...     ...         ...   ...
22575  Apartamento                 Méier        2  ...   900.0       490.0  48.0
22576    Quitinete                Centro        0  ...   800.0       350.0  25.0
22577  Apartamento           Jacarepaguá        3  ...  1800.0       800.0  40.0
22578  Apartamento  São Francisco Xavier        2  ...  1400.0       509.0  37.0
22579  Apartamento                Leblon        2  ...  3000.0       760.0   NaN

[22580 rows x 9 columns]

In [64]:
import pandas as pd

numeros = [i for i in range(11)]
letras = [chr(i + 65) for i in range(11)]
nome_coluna = ['N']

df = pd.DataFrame(data = numeros, index = letras, columns = nome_coluna)

In [65]:
df

    N
A   0
B   1
C   2
D   3
E   4
F   5
G   6
H   7
I   8
J   9
K  10

In [66]:
selecao = df['N'].isin([i for i in range(11) if i % 2 == 0])
df = df[selecao]
df

    N
A   0
C   2
E   4
G   6
I   8
K  10

In [70]:
dados_residencial.head(10)

                 Tipo           Bairro  Quartos  ...    Valor  Condominio  IPTU
0           Quitinete       Copacabana        1  ...   1700.0       500.0  60.0
1                Casa  Jardim Botânico        2  ...   7000.0         NaN   NaN
2         Apartamento           Centro        1  ...    800.0       390.0  20.0
3         Apartamento     Higienópolis        1  ...    800.0       230.0   NaN
4         Apartamento     Vista Alegre        3  ...   1200.0         NaN   NaN
5         Apartamento         Cachambi        2  ...   1300.0       301.0  17.0
6  Casa de Condomínio  Barra da Tijuca        5  ...  22000.0         NaN   NaN
7  Casa de Condomínio            Ramos        2  ...   1000.0         NaN   NaN
8         Apartamento           Centro        1  ...   1200.0         NaN   NaN
9         Apartamento           Grajaú        2  ...   1500.0       642.0  74.0

[10 rows x 9 columns]

In [71]:
aps = dados_residencial[dados_residencial['Tipo'] == 'Apartamento']
aps

              Tipo                Bairro  Quartos  ...   Valor  Condominio  IPTU
2      Apartamento                Centro        1  ...   800.0       390.0  20.0
3      Apartamento          Higienópolis        1  ...   800.0       230.0   NaN
4      Apartamento          Vista Alegre        3  ...  1200.0         NaN   NaN
5      Apartamento              Cachambi        2  ...  1300.0       301.0  17.0
8      Apartamento                Centro        1  ...  1200.0         NaN   NaN
...            ...                   ...      ...  ...     ...         ...   ...
22573  Apartamento        Vila Valqueire        2  ...  1000.0       550.0   NaN
22575  Apartamento                 Méier        2  ...   900.0       490.0  48.0
22577  Apartamento           Jacarepaguá        3  ...  1800.0       800.0  40.0
22578  Apartamento  São Francisco Xavier        2  ...  1400.0       509.0  37.0
22579  Apartamento                Leblon        2  ...  3000.0       760.0   NaN

[19532 rows x 9 columns]

In [72]:
aps.shape

(19532, 9)

In [76]:
selecao = (dados_residencial['Tipo'] == 'Casa') | (dados_residencial['Tipo'] == 'Casa de Condomínio') | (dados_residencial['Tipo'] == 'Casa de Vila')

casa = dados_residencial[selecao]

In [77]:
casa

                     Tipo                   Bairro  ...  Condominio    IPTU
1                    Casa          Jardim Botânico  ...         NaN     NaN
6      Casa de Condomínio          Barra da Tijuca  ...         NaN     NaN
7      Casa de Condomínio                    Ramos  ...         NaN     NaN
14     Casa de Condomínio                  Taquara  ...         NaN     NaN
18     Casa de Condomínio          Barra da Tijuca  ...      2695.0     NaN
...                   ...                      ...  ...         ...     ...
22545  Casa de Condomínio  Freguesia (Jacarepaguá)  ...       530.0  1250.0
22547                Casa            Bento Ribeiro  ...         NaN     NaN
22555  Casa de Condomínio          Barra da Tijuca  ...      3000.0     NaN
22558                Casa                   Centro  ...         NaN    80.0
22574  Casa de Condomínio          Barra da Tijuca  ...      1711.0  2332.0

[2212 rows x 9 columns]

In [79]:
casa.shape

(2212, 9)

In [80]:
#Selecione os imóveis com área entre 60 e 100 metros quadrados, incluindo os limites.
#60 <= Area <=100
selecao = (dados_residencial['Area'] >= 60) & (dados_residencial['Area'] <= 100)
n3 = dados_residencial[selecao].shape[0]
n3

8719

In [81]:
#Selecione os imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00.
selecao = (dados_residencial['Quartos'] >= 4) & (dados_residencial['Valor'] < 2000)
n4 = dados_residencial[selecao].shape[0]
n4

41